#download-section-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid grey;
  margin-bottom: 30px;
  padding: 20px 40px 10px 20px;
  border-radius: 15px;
  position: relative;
  transition-duration: 200ms;
}
#download-section-text-container{
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 20px;
}
.download-text{
  height: 70%;
}


#download-btn-container{
  display: flex;
  justify-content: center;
}
.download-btn{
  width: 100px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid grey;
  justify-content: center;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.5s;
}
.download-btn:hover {
  background-color: #646cff55;

  border-color: #646cff;
}


#cover{
  width: 100%;
  height: 100%;
  background-color: #000d;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

#delete-current-download-box{
  width: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  text-align: center;
  transition: border-color 0.25s;
}
#delete-current-download-box:hover{
  border-color: red;
  background-color: #f002;
}
